.myOrdersPage {
  width: 100vw;
  max-width: 100%;

  box-sizing: border-box;
  background-color: inherit;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}

.myOrdersTable {
  background-color: inherit;
  height: max-content !important;
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  color: white;
  border: none;
}

.myOrdersTable a {
  color: white;
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: teal;
}

.MuiDataGrid-columnHeader {
  background-color: teal;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 200 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 3vw "Roboto" !important;
  }
}
