footer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.icons {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
}
h2 {
  margin: 5px;
  font-size: 30px;
}
.icons svg {
  margin: 5px;
  height: 25px;
  width: 25px;
}
