.forgotPasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.forgotPasswordBox > h2 {
  text-align: center;
  color: teal;
}

.forgotPasswordBox {
  background-color: black;
  width: 95%;
  max-width: 450px;
  height: 40vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 1rem;
  color: white;
  overflow: hidden;
}

.loginSignUpToggle {
  display: flex;
  height: max-content;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.forgotPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.forgotPasswordForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: whitesmoke;
  border-radius: 1rem;
  font: 300 0.9vmax;
  outline: none;
}

.forgotPasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: black;
}

#forgotPasswordImage > img {
  width: 3vmax;
  height: 3vmax;
  border-radius: 100%;
  border: 2px solid white;
  margin-right: 4px;
}
#forgotPasswordImage > input {
  display: flex;
  padding: 0;
  outline: none;
  border: none;
  padding: 1vmax 1vmax;
  padding-right: 1vmax;
}
#forgotPasswordImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  border-radius: 1rem;
  border: none;
  background-color: whitesmoke;
}

.forgotPasswordBtn {
  border: none;
  outline: none;
  background-color: teal;
  color: white;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
  padding: 1rem 0;
}

.updatProfileBtn:hover {
  opacity: 0.6;
}
