.paymentContainer {
  display: grid;
  place-items: center;
  background-color: inherit;
  height: max-content;
  margin: 2vmax;
  color: black;
}

.paymentForm {
  width: 22%;
  padding: 1vmax;
  height: 100%;
  background-color: whitesmoke;
}

.paymentForm > p {
  font: 400 2vmax "Segoe UI";
  border-bottom: 1px solid teal;
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
  color: black !important;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  color: black;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: black;
}

.paymentFormBtn {
  border: none;
  background-color: teal;
  color: white;
  font: 300 0.9vmax "Segoe UI";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.paymentFormBtn:hover {
  background-color: teal;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .paymentForm {
    width: 90%;
  }

  .paymentForm > p {
    font: 400 8vw "Segoe UI";
    padding: 4vw 0;
    width: 60%;
  }

  .paymentForm > div {
    margin: 10vw 0;
  }

  .paymentInput {
    padding: 4vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 6vw;
  }

  .paymentFormBtn {
    font: 300 4vw "Segoe UI";
    padding: 4vw;
  }
}
